<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCCd-gd8MZfyB_LOUV0iIL0hT4oH1h-Lqo</string>
	<key>GCM_SENDER_ID</key>
	<string>233043505099</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.joaolfp.SwiftExplorer</string>
	<key>PROJECT_ID</key>
	<string>swiftexplorer-a3b17</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftexplorer-a3b17.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:233043505099:ios:a9b4583e73aa2ad51a504e</string>
</dict>
</plist>