name: CI
on: [push, pull_request]

jobs:
  build:
    runs-on: macOS-26

    steps:
      - uses: actions/checkout@v6

      - name: Read Xcode version
        id: xcode_version
        run: echo "XCODE_VERSION=$(cat .xcode-version)" >> $GITHUB_ENV

      - name: Setup Xcode using .xcode-version
        uses: maxim-lobanov/setup-xcode@7f352e61cbe8130c957c3bc898c4fb025784ea1e
        with:
          xcode-version: ${{ env.XCODE_VERSION }}

      - name: Run tests
        run: |
          xcodebuild \
            -project SwiftExplorer.xcodeproj \
            -scheme "SwiftExplorer" \
            -destination "platform=macOS,arch=x86_64" \
            -skipPackagePluginValidation \
            clean test || true

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de
        with:
          swift: true
          swift_project: SwiftExplorer
          verbose: true
